$color-primary: black;
$color-tertiary: #db8e34;
$color-secondary: #8863f4;
$color-secondary-light: #8863f436;

$color-background:  #f1e9f0;
$color-text-light:  white;

$border-radius: 12px;

$padding-btn: 10px 40px;