.btn-outline-orinoco {
    border-color: $color-secondary;
    color: $color-secondary;
    font-weight: 500;
    border-radius: $border-radius;
    &:hover {
        background-color:$color-secondary;
        color: white;
    }
}
@mixin btn-outline-orinoco {
    border-color: $color-secondary;
    color: $color-secondary;
    font-weight: 500;
    border-radius: $border-radius;
    &:hover {
        background-color:$color-secondary;
        color: white;
    }
}

.btn-orinoco {
    background-color: $color-secondary;
    color: white;
    font-weight: 500;
    border-radius: $border-radius;
    &:hover {
        background-color: transparent;
        color: $color-secondary;
        border-color: $color-secondary;
    }
}

@mixin btn-orinoco {
    background-color: $color-secondary;
    color: white;
    font-weight: 500;
    border-radius: $border-radius;
    &:hover {
        background-color: transparent;
        color: $color-secondary;
        border-color: $color-secondary;
    }
}