#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    img {
        height: 100%;
        object-fit: cover;
        filter: hue-rotate(0deg);
        &:hover {
            filter: hue-rotate(280deg);
        }
    }
    .card{
        margin-bottom: 50px;
        border: none;
        max-width: 540px;
        &:first-child {
            max-width: 100%;
        }
    }
}
 
.card-body {
    display: flex;
    flex-flow: column;
    .card-title {
        align-self: center;
    }
    .card-price {
        align-self: flex-end;
    }

}