/* CARD HOME PAGE*/
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    .card-body {
        display: flex;
        flex-flow: column;
        height: 100%;
        position: relative;
        .card-title {
            align-self: center;
        }
        .card-price {
            align-self: flex-end;
        }
    }
    img {
        height: 100%;
        object-fit: cover;
        filter: hue-rotate(0deg);
        &:hover {
            filter: hue-rotate(280deg);
        }
    }
    .card{
        margin-bottom: 50px;
        border: none;
        max-width: 540px;
    }
}


/* CARD PRODUCT PAGE*/
#yourProduct {
    .card {
        border: none;
    }
    .card-body {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }
    .card-title {
        grid-column: -1/1;
        text-align: center;
    }
    .card-text {
        grid-column: -1/1;
        text-align: center;
    }
    .card-price {
        grid-column: 2/3;
        text-align: end;
        font-weight: 800;
        letter-spacing: 0.5px;
    }
    #selectOption {
        grid-row: 3/4
    }
    .btn {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 70%;
        justify-self: flex-end;
    }
}