#intro {
    display: flex;
    flex-flow: column;
    margin: 20px;
    h1 {
       align-self: center;
    }
    p {
        align-self: flex-end;
        margin: 0 60px;
    }
}


.degrade {
    font-weight: 900;
    font-size: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from($color-tertiary), to($color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
